// all gaps and padding classes
// classes like g24 means that gap property and the number is that gap size in pixel
// classes like pad24 means that padding property and the number is that padding size in pixel
// p12-24 classes means padding that first number shows top and bottom padding and
// second number shows left and right padding and
.p-7{
  padding: 5rem;
}
.pt-7{
  padding-top: 5rem;
}
.pt-8{
  padding-top: 6rem;
}
.g4 {
  gap: 4px;
}
.g8 {
  gap: 8px;
}
.g12{
  gap: 12px;
}
.g16{
  gap: 16px;
}
.g18{
  gap: 18px;
}
.g20{
  gap: 20px;
}
.g24{
  gap: 24px;
}
.g32{
  gap: 32px;
}
.g40{
  gap: 40px;
}
.g50{
  gap: 50px;
}
.g60{
  gap: 60px;
}
.g80{
  gap: 80px;
}
.g92{
  gap: 92px;
}

.p0-10{
  padding: 0 10px;
}
.p0-24{
  padding: 0 24px;
}
.p10-38{
  padding: 0 38px;
}
.p15-12{
  padding: 15px 12px !important;
}
.p16-24{
  padding: 16px 24px;
}
.p32-0{
  padding: 32px 0;
}
.w-60{
  width: 60% !important;
}
.border{
  border: 1px solid #d7d7d7 !important;
}
